
 
    <div class="banner">
        <div class="navbar">
            <img style="width: 250px;" src="../assets/img/removvlogo1.png" class="logo">
            <ul>
                <li><a href="#">Home</a></li>

                <li><a href="#">Login</a></li>
         

            </ul>
        </div>

        
    </div>

    <div class="content">
        
        <div class="wrap">
            <div class="search">
               <input type="text" class="searchTerm" placeholder="Write your referans code">
               <button type="submit" class="searchButton">
                <img style="width: 25px;" src="../assets/img/search.png" class="logo">
              </button>
            </div>
         </div>
    </div>



